{{#each searchedArtist}}
    <h2>{{name}}</h2> 
    <a href="/artist={{id}}/albums"><img src="{{images.0.url}}" onerror="this.onerror=null; this.src='/images/turntable.png' "height="300" width="300"/></a>
    <a href="/artist={{id}}/albums">View Albums</a>
{{/each}}
