<section id="homepage">
        <h1>FEEL THE MUSIC</h1>
    <form id="artist-search" action="/artist-search" method="GET">
        <label for="artist">
            <input class="general-input" type="text" name="artist">
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
</section>